body{
    font-family:"Adobe 黑体 Std R";
    padding:0;
    margin:0;
    border:0;
}
table{
    border:0;
    margin:0;
    padding:0;
}
div{
    border:0;
    margin:0;
    padding:0;
}
.mainbox{
    width:100%;
    padding:0;
    margin:0;
    border:0;

}
.navbox{
    width:25%;
    height:100%;
    padding:0;
    border:0;
    position:fixed;
    top:0;
    left:0;
}
.contentbox{
    position:absolute;
    top:0;
    right:0;
    width:75%;
}
.label-white{
    color:white;
}
.menubtn{
    color:black;
    font-size:25px;
    cursor:pointer;
}
.menubtn-active{
    color:white;
    font-size:25px;
    cursor:default;
}
.tag{
    visibility:hidden;
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.tag-active{
    visibility:visible;
    position:absolute;
    width:100%;
    top:0;
    left:0;
}
.container{
    padding-top:10px;
    padding-left:20px;
    padding-right:20px;
}
.page-header{
    padding-top:50px;
    padding-left:30px;
}
.linkbox{
    border:3px outset deepskyblue;
    padding-top:0;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:0;
}
.linkbox h3{
    font-family:幼圆;
    border-bottom:1px solid lightgrey;
    padding-bottom:5px;
}
.linkbox h5{
    font-family:楷体;
    color:gray;
}
.linkbox .time{
    text-align:right;
    color:deepskyblue;
    font-size:10px;
}